*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4c0ea3;
}
.content{
    border-radius: 20px;
    background: #fff;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: #5e0ce2;
    width: 43%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    left: 58%;
}

.PrimeiraColuna .title{
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    text-transform: capitalize;
    
}

.PrimeiraColuna .description{
    color: #fff;
    margin-top: 10px;

}
.PrimeiraColuna button{
    background: none;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.PrimeiraColuna button:hover{
    background: #fff;
    color: #5e0ce2;
}
.first_content{
    display: flex;
  
   
}
.first_content .PrimeiraColuna{
   z-index: -1; 
}
.first_content .SegundaColuna{
    z-index: -1; 
 }



.PrimeiraColuna{
    text-align: center;
    width: 40%;
    z-index: 1;
   
}

.SegundaColuna{
   width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.SegundaColuna input{
    background: none;
    border: none;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
    color: #4c0ea3;
}
.SegundaColuna input::placeholder{
    color: #c7adeb;
}
.SegundaColuna label i{
    color: #5e0ce2;
}

.SegundaColuna label{
    width: 350px;
    height: 40px;
    padding: 10px;
  background: none;
    border: 1px solid #5e0ce2;
    border-radius: 10px;
    outline: none;
    margin-top: 8px;
    
}
.SegundaColuna button i{
    padding-right: 5px;

}

.SegundaColuna button{
    background: #5e0ce2;
    width: 170px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
 
}
.SegundaColuna button:hover{
    background: none;
    color: #5e0ce2;
    border: 1px solid #5e0ce2;
}
.SegundaColuna .description{
    color: #c7aaf0;
}
.SegundaColuna .title{
    color: #6a6a6a;
}

.RedeSocial {
display: flex;
justify-content: center;
margin:20px 0;
}
.List_RedeSocial li{
margin: 0 12px;
list-style: none;
}
.List_RedeSocial li i{
    color: #5e0ce2;
    font-size: 20px;
}

.List_RedeSocial li i:hover{
    color: #e9125a;
    
}

.List_RedeSocial{
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}


.second_content{
    position: absolute;
    display: flex;
}

.second_content .PrimeiraColuna{
    order: 2;
}

.second_content .SegundaColuna{
    order: 1;
}


.second_content .SegundaColuna{
    z-index: 12;
}

.PrimeiraColuna button i{
    padding-right: 5px;
}

/* Troca de classe pelo JS */

.CliqueCadastrar .second_content .PrimeiraColuna, 
.CliqueCadastrar .second_content .SegundaColuna{
    z-index: -1;
}


.CliqueCadastrar .first_content .SegundaColuna{
    z-index: 11;
}
.CliqueCadastrar .first_content .PrimeiraColuna{
    z-index: 13;
}

.CliqueCadastrar .content::before{
    left: 0;
    border-radius: 20px 0 0 20px;
    animation: slideout 3s ;
    z-index: 12;
}

.CliqueLogin .content::before{
animation: slidein 3s;
z-index: 12
}

.CliqueLogin .first_content .PrimeiraColuna, 
.CliqueLogin .first_content .SegundaColuna{
    z-index: -1;
}


.CliqueLogin .second_content .SegundaColuna{
    z-index: 11;
}
.CliqueLogin .second_content .PrimeiraColuna{
      z-index: 13;
}

/* animação CSS */
@keyframes slidein{
    from{
        left: 0%;
        width: 60%;
    }
    25%{
        left:  5%;
        width: 50%;

    }
    50%{
        left: 25%;
        width: 60%;

    }
    75%{
        left: 45%;
        width: 50%;
        
    }
    to{
        left: 60%;
        width: 40%;

    }
}


@keyframes slideout{
    from{
        left: 60%;
        width: 40%;
    }
    25%{
        left:  45%;
        width: 50%;

    }
    50%{
        left: 25%;
        width: 60%;

    }
    75%{
        left: 5%;
        width: 50%;
        
    }
    to{
        
        left: 0;
        width: 40%;

    }
}




#preloader{
    background: #330f6f url(./imagens/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 200;background-size: 40%;


}